<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="./static/css/style.css">
    <title>Developer</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- header design -->
    <header>
      <a href="#" class="logo"><span>Dev</span>eloper.</a>

      <ul class="navlist">
        <li><a href="#home" class="active">Home</a></li>
        <li><a href="#about">About Me</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact Me</a></li>
      </ul>

      <div class="bx bx-menu" id="menu-icon">

      </div>
    </header>
    <!-- home section design -->
    <section class="home" id="home">
      <div class="home-text">
        <div class="slide">
          <span class="one">Hello</span>
          <span class="two">I'm</span>
        </div>
        <h1>Amr</h1>
        <h3>Web<span> Developer.</span></h3>
        <p>Front End Developer/Back End Developer/Python</p>
        <div class="button">
          <a href="#" class="btn">Say Hello</a>
          <a href="#" class="btn2"><span><i class='bx bx-play'></i></span> Watch Me Work</a>
        </div>
      </div>
    </section>

    <!-- about section design -->
    <section class="about" id="about">
      <div class="about-img">
        <img src="./static/images/coder.jpg">
      </div>

      <div class="about-text">
        <h2>About <span>Me</span></h2>
        <h4>Web Developer</h4>
        <p></p>
        <a href="#" class="btn">More about</a>
      </div>
    </section>

    <!-- services section design -->
    <section class="services" id="services">
      <div class="main-text">
        <p>What I am Expert In</p>
        <h2><span>My</span> Services</h2>
      </div>

      <div class="services-content">
        <div class="box">
          <div class="s-icons">
            <i class='bx bx-code-alt'></i>
          </div>
          <h3>Web Developer</h3>
          <p>One way to categorize the activities is in terms of the
          professional's area of expertise such as competitive analysis,
          corporate strategy.</p>
          <a href="#" class="read">Read Me</a>
        </div>

        <div class="box">
          <div class="s-icons">
            <i class='bx bxl-python' ></i>
          </div>
          <h3>Python Coder</h3>
          <p>One way to categorize the activities is in terms of the
          professional's area of expertise such as competitive analysis,
          corporate strategy.</p>
          <a href="#" class="read">Read Me</a>
        </div>

        <div class="box">
          <div class="s-icons">
            <i class='bx bxl-django' ></i>
          </div>
          <h3>Django</h3>
          <p>One way to categorize the activities is in terms of the
          professional's area of expertise such as competitive analysis,
          corporate strategy.</p>
          <a href="#" class="read">Read Me</a>
        </div>
      </div>
    </section>

    <!-- portfolio section design -->
    <section class="portfolio" id="portfolio">
      <div class="main-text">
        <p>Portfolio</p>
        <h2><span>Latest</span> Project</h2>
      </div>

      <div class="portfolio-content">
        <div class="row">
          <img src="./static/images/project1.jpg">
          <div class="layer">
            <h5>Blog Web</h5>
            <p>blog capstones project</p>
            <a href="#"><i class='bx bx-link-external'></i></a>
          </div>
        </div>

        <div class="row">
          <img src="./static/images/project2.jpg">
          <div class="layer">
            <h5>Front End Developer</h5>
            <p>front end project</p>
            <a href="#"><i class='bx bx-link-external'></i></a>
          </div>
        </div>

        <div class="row">
          <img src="./static/images/project3.jpg">
          <div class="layer">
            <h5>Problem Solver</h5>
            <p>solve the problem by python code</p>
            <a href="#"><i class='bx bx-link-external'></i></a>
          </div>
        </div>

        <div class="row">
          <img src="./static/images/project4.jpg">
          <div class="layer">
            <h5>Back End Developer</h5>
            <p>back end project</p>
            <a href="#"><i class='bx bx-link-external'></i></a>
          </div>
        </div>

      </div>
    </section>

    <!-- contact section design -->
    <section class="contact" id="contact">
      <div class="contact-text">
        <h2>Contact <span>Me!</span></h2>
        <h4>If You Have Any Projects In Your Mind.</h4>
        <p>I'm a web developer.</p>
        <div class="list">
          <li><a href="#">0123456789</a></li>
          <li><a href="#">mail@email.com</a></li>
          <li><a href="#">Like Share & Subscribe.</a></li>
        </div>

        <div class="contact-icons">
          <a href="#"><i class='bx bxl-facebook'></i></a>
          <a href="#"><i class='bx bxl-instagram' ></i></a>
          <a href="#"><i class='bx bxl-github' ></i></a>
          <a href="#"><i class='bx bxl-linkedin'></i></a>
        </div>
      </div>

      <div class="contact-form">
        <form class="" action="index.html" method="post">
          <input type="text" placeholder="Your Name" required>
          <input type="email" placeholder="Your Email Address" required>
          <input type="text" placeholder="Your Mobil Number" required>
          <textarea name="" id="" rows="10" cols="35" placeholder="How Can I Help You" required></textarea>
          <input type="submit" value="Send Message" class="submit" required>
        </form>
      </div>
    </section>

    <!-- end section design -->
    <section class="end">
      <div class="last-text">
        <p>Copyright © 2022 All Rights Reserved.</p>
      </div>

      <div class="top">
        <a href="#home"><i class='bx bx-up-arrow-alt' ></i></a>
      </div>
    </section>

    <!-- custom js -->
    <script type="text/javascript" src="./static/js/script.js"></script>
  </body>
</html>
